@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Permanent+Marker&display=swap");

.App {
  /* border: 2px lightgray solid; */
  border-radius: 5px;
  width: 90%;
  margin: auto;
  padding: 0 60px;
}

/* User Info */
.user-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.user-info h1 {
  font-family: "M PLUS Rounded 1c";
  font-size: 3.5rem;
  margin-bottom: 0;
}

h2 {
  font-family: "M PLUS Rounded 1c";
  font-size: 2.5rem;
  margin-bottom: 0;
}

.user-first-name {
  font-family: "M PLUS Rounded 1c";
  font-size: 2.5rem;
  margin: 0 0 1rem 0;
}

.user-info .user-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.user-info .user-details img {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.user-info .user-details .inner-details {
  margin: 0 50px;
  padding: 0 80px 20px 0;
  font-family: "M PLUS Rounded 1c";
}

.user-info .user-details .inner-details > :first-child {
  margin-top: 0;
  padding-top: 0;
  font-family: "M PLUS Rounded 1c";
}

.user-info .user-details .inner-details span {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 0.8;
}

/* Projects */
.projects-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0.5rem;
}

.single-project {
  border: 1px solid lightgray;
  border-radius: 5px;
}

/* small-screen */
@media screen and (max-width: 600px) {
  .user-info .user-details {
    flex-direction: column;
    align-items: flex-start;
  }
  .user-info .user-details .inner-details {
    margin: 1.75rem 0;
  }
}
